{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Area of triangle</title>
    <link rel="stylesheet" href="{% static 'css/mathadd.css' %}">
</head>

<body>
    <div class="container">
        <div class="formview">
            <div class="banner">
               AREA OF TRIANGLE
            </div>
            <div class="content">
                <form action=" " method="GET">
                    {% csrf_token %}
                    <div class="forminput">
                        <label for="value_a">Base=</label>
                        <input type="text" name="value_a" id="value_a">
                    </div>
                    <div  class="forminput">
                        <label for="value_b">Height=</label>
                        <input type="text" name="value_b" id="value_b">
                    </div>                     
                    <div class="forminput">
                        <button type="button" name="button_add" id="button_add">Calulate</button>
                    </div>
                    <div class="forminput">
                        <label for="value_c">Area=</label>
                        <input type="text" name="value_c" id="value_c" readonly>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/mathadd.js"></script>
</body>

</html>